#What's up Brandon,
#
#How is it going? I am a Software Developer at Capital One and looking additional Mobile # Ninjas like myself.
#
#You have some pretty interesting github projects. 
#
#I was wondering if you had 10-15 # minutes to chat?
#
#Thanks!
#
#Ahmad H. Ibrahim
#ahmad.ibrahim2@capitalone.com
#

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/
